<footer class="footer">
    <div class="container">
      <div class="footer-section">
        <div class="brand">
         <img src="assets/footer.png" alt="" srcset="">
          <p>We are committed to uplifting Human Talent</p>
          <div class="contact">
            <p>Share with us</p>
            <p>🇫🇮 +358 45 197 6700</p>
            <p>🇱🇰 +94 74 410 4850</p>
            <p>info&#64;talentboozt.com</p>
          </div>
        </div>
      </div>
  
      <div class="footer-section">
        <h3>Navigation</h3>
      </div>
  
      <div class="footer-section">
        <h3>Follow us</h3>
      </div>
  
      <div class="footer-section">
        <h3>Still need help</h3>
        <p>If you still have a question for us, provide your email address. We will reach to you</p>
        <input type="email" placeholder="Enter Your valid email" class="email-input" />
      </div>
    </div>
  </footer>
  