<div class="row row-cols-1 row-cols-md-4 g-4 cardrow">
    <div class="col">
      <div class="card ">
        <img src="assets/Talentpool.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Access to a Diverse Talent Pool</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/onlinecoll.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employer Branding Tools</h5>
          <p class="card-text">Build your brand with customizable company profiles and featured job postings to attract top talent.        </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card ">
        <img src="assets/priority.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Priority Support</h5>
          <p class="card-text">Get help when you need it with dedicated support to assist in your hiring process.        </p>
        </div>
       
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="assets/package.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Flexible Job Posting Packages</h5>
            <p class="card-text">Choose from multiple posting options that fit your hiring needs , from single listings to subscription plans.
            </p>
          </div>
          
        </div>
      </div>
  </div>