<main>
    <section>
     <div class="navbar">
    <div class="navbar-logo">
       <img src="assets/top-b.png" alt="header-logo" srcset="" >
    </div>
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>

    <div class="navbar-links" >
        <ul class="nav-links" [class.active]="menuOpen">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/jobs" routerLinkActive="active">Explore Jobs</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
            <li><a routerLink="/companies" routerLinkActive="active">Companies</a></li>
          </ul>
    </div>
    </div>
</section>
</main>
