<main>
    <div class="maindiv">
        <div class="one" >
            <div class="two ">
               <p>LOOKING FOR HIRE <br/> THE <b>BEST TALENT</b> </p> 
               <button class="postbtn">Post a job</button>
               <button class="signupbtn">Sign up</button>

            </div>
            <div class="three">
              <div class="pentagon"></div>
              <div class="imgdiv">
                <img src="assets/carousal.png" alt="" srcset="">
            </div>
            </div>
            
        </div>
    </div>
</main>