
    <div class="maindiv">
          <div class="banner-section" >
            <div class="banner-content">
               <p>LOOKING FOR HIRE <br/> THE <b>BEST TALENT</b> </p> 
               <div class="btn">
               <button class="postbtn">Post a job</button>
               <button class="signupbtn">Sign up</button>
              </div>

            </div>
            <div class="banner-img-container">
              <div class="pentagon"></div>
              <div class="imgdiv">
                <img src="assets/carousal.png" alt="" srcset="">
            </div>
          </div>
            
        </div>
       

        
        <div class="whychooseus">
            <div class="topic">
            <h1>A world of Oppertunities to find the one that's right for you </h1>
            </div>
            <div class="cards">
             
              <app-card> </app-card>
            </div>
           

        </div>
        <div class="tustedComapies">
          <div class="companyTopic">
            <h1>Top Employers Who Trust Our Recruiting Solutions</h1><br>
            <p>We help employers, from fast-growing startups to industry leaders, hire the most qualified candidates quickly and efficiently with our AI-powered candidate filtering and on-demand recruiting solutions. Our innovative technology gets you matched with the best-matched candidates, streamlining the hiring process and reducing time-to-hire.</p>
          </div>
          <div class="companylogos">
            
              <img class="logo" src="assets/Illenium-Logo-thumb.png" alt="" srcset="">
              <img class="logo" src="assets/Burger-King-logo-tumb.jpg" alt="" srcset="">
              <img class="logo"src="assets/NFC-Logo-tumb.png" alt="" srcset="">
              <img class="logo" src="assets/Grok-Logo-tumb.png" alt="" srcset="">
              <img class="logo" src="assets/Starbucks-logo-tumb.jpg" alt="" srcset="">
              <img class="logo" src="assets/Tiktok_Logo.png" alt="" srcset="">
              <!-- <img class="logo" src="assetst/Louis.png" alt="" srcset="">
              <img class="logo" src="assetst/Nike.png" alt="" srcset="">
             -->
         
          </div>
        </div>

    </div>
